* { 
    margin: 0;
    padding: 0;
    
}

body {
    
    background-color: hsl(192, 49%, 70%);
   
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;   

}

img {
    border-radius: 24px 0 0 24px;
    
}

.container {
    align-items: middle;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 0 24px 24px 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container p {
    font-style: italic;
    
}

.container h1 {
    margin-bottom: 10px;
    text-align: justify;
    align-items: center;
    
}

.prices {
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;    
}

.prices p {
    text-decoration: line-through;
}

.prices h1 {
    color: red;
}

.buy {
    width: 20vh;
    height: 5vh;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(0, 7, 7);
    font-weight: bold;
    background-color: rgb(217, 240, 16);
    border: 0ch;
}

.buy:hover  {
    width: 21vh;
    background-color: hsl(192, 49%, 70%);
}
